
table{
    color: white;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #menu li {
    float: left;
  }
  
  #menu li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #menu li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  #menu li a.active {
    color: white;
    background-color: var(--primary-blue);
  }

  html{
		background-image: url("img/img.jpg");
	}

#header a {
 color: white;
}



  p {
    font-size: 16px;
    font-family: monospace;
  }

  .hzlogo {
    border-color: rgb(141, 166, 176);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
  }

  .hzlogo {
    width: 100px;
  }

  .silver-background {
    background-color: grey;
    Width: 60%; 
    color: wheat;
    float:left;
  }

  .silver-background > p {
    color : white;
  }

  .image{
    float:right;
  }

  table, th, td {
	  border: 1px solid white; 
	  border-collapse: collapse; 

  }
  .headertekst {
    text-align: center;
 }
 